---
layout: default
title: Portfolio
meta: Matrixfox is my official portfolio website. A small live demo of my newest work. Always working in mobile and web development.
pagination: 
  enabled: true
---
<!-- JUMBOTRON
      ================================================== -->
      <h4>Featured <span>News</span></h4>
      <a href="http://matrixfox.com/greendesign/"><div class='jumbotron'></div></a>
      <!-- BANNER
      ================================================== -->
      <article class="banner row">
        <section class="banner-inner col-lg-10">
          {% for blog in site.posts limit:1 %}
          <h2>{{blog.title}}</span></h2>
          <p>{{blog.meta}}</p>
        </section>
        <section class="col-lg-2 text-center">
          <div class="btn-group">
            <a href="{{blog.url}}"><div class='btn btn-default'>Continue To Read <span class="glyphicon glyphicon-share-alt"></span></div></a>
          </div>
          {% endfor %}
        </section>
      </article>
      <!-- PORTFOLIO
      ================================================== -->
      <article class="row">
        {% for portfolio in site.pages %}
        {% if portfolio.type == 'portfolio' %}
        <a href="{{portfolio.source}}">
        <figure class="col-sm-6 col-md-3 portfolio">
          <img src="{{portfolio.image}}" alt="{{portfolio.title}}" class="thumbnail">
          <figcaption class="overlay">{{portfolio.content}}</figcaption>
        </figure>
        </a>
        {% endif %}
        {% endfor %}
      </article>
      <!--  END PORTFOLIO -->
