<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="{{page.meta}}" name="description">
    <title>Matrixfox{% if page.title %} - {{page.title}}{% endif %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/javascripts/libs/html5shiv.js"></script>
    <script src="/javascripts/libs/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <section class="container-fluid">
      <!-- NAVBAR
      ================================================== -->
      <nav class="navbar navbar-matrix" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if page.url == '/' %}<h1 class="navbar-brand"><a href="/">Matrixfox</a></h1><br><span class="motto">Software Engineer</span>{% endif %}
          {% if page.url != '/' %}<section class="navbar-brand"><a href="/">Matrixfox</a></section><br><span class="motto">Software Engineer</span>{% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="home {% if page.url == '/' %}active{% endif %}"><a href="/">Home<br><span>Portfolio Page</span></a></li>
            <li class="blog {% if page.url == '/blog/' %}active{% endif %}"><a href="/blog/">Blog<br><span>Read About My Adventures</span></a></li>
            <li class="contact {% if page.url == '/contact/' %}active{% endif %}"><a href="/contact/">Contact<br><span>Keep and Stay in Touch</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <!-- NAVBAR END -->
      {{content}}
      <footer>
        <p class="pull-right"><a class="backtotop" href="#">Back to top <span class="glyphicon glyphicon-arrow-up"></span></a></p>
        <noscript>
          © Matrixfox 2015 *ENABLE JAVASCRIPT*
        </noscript>
        <script type="text/javascript">
          var d = new Date();
          var output = d.getFullYear()
          document.write("<small>© <a href=\"https://github.com/matrixfox\">Matrixfox</a> "+ output +"</small>");
        </script>
      </footer>
      <!-- /END CONTAINER -->
    </section>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42087512-1', 'matrixfox.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
